@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<ModelEF.Model.UserAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-bars "></i>&nbsp;Quản lý tài khoản
}

@using (Html.BeginForm("Index", "TaiKhoan", FormMethod.Post))
{
    <div class="col-md-12 form-group">
        <div class="col-md-6">
            <p>
                @Html.ActionLink("Tạo mới", "Create", "TaiKhoan", new { @class = "btn btn-danger" })
            </p>
        </div>
        <div class="col-md-4">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa cần tìm kiếm" class="form-control">
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
        </div>
    </div>
}
<div class="col-md-12 form-group">
    <table class="table">
        <tr>
            <th>STT</th>
            <th>
                Tên tài khoản
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
        @{ var i = 1;}
        @foreach (var item in Model)
        {
        <tr id="row_@item.UserName">
            <td>@i</td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.Status
            </td>
            <td>
            <td>
                <a href="~/Admin/TaiKhoan/Create/@item.UserName"><i class="fa fa-edit"></i></a>
                &nbsp;
                @Ajax.ActionLink(" ", "Delete", new { @id = item.UserName },new AjaxOptions
           {
               Confirm = "Bạn có muốn xóa bản ghi này ?",
               OnComplete="$('#row_"+item.UserName + "').remove()",
               HttpMethod ="Delete"
           }, new {@class = "glyphicon glyphicon-trash", @title = "xóa" })
            </td>
        </tr>
        }

    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
</div>